<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <script>
    Alluserlist();

    // 전체조회
    function Alluserlist(){
      fetch('http://localhost:8099/yd/emps')
      .then(res => res.json())
      .then(result =>{
        console.log(' ===== 전체조회');
        console.log(result);
      })
      .catch(err => console.log(err))
    }

    // 단건조회
    function Finduserinfo(eid){
      fetch(`http://localhost:8099/yd/emps/${eid}`)
      .then(res => res.json())
      .then(result => {
        console.log(' ===== 단건조회');
        console.log(result)
      })
      .catch(err => console.log(err))
    }
    // 등록
    function Insertuser(){
      let insertData = {
        'lastName' : 'Hong',
        'email' : 'kjh1234@google.com',
        'jobId' : 'IT_PROG',
      }
      fetch('http://localhost:8099/yd/emps',{
        method : 'post',
        // @RequestBody
        headers : {
          'Content-type' : 'application/json',
        },
        body : JSON.stringify(insertData),
      })
      .then(res => res.json())
      .then(result => {
        console.log(' ===== 등록');
        console.log(result);
      })
      .catch(err => console.log(err))
    }
    // 수정
    function Updateuser(eid){
      let updateData = {
        'lastName': "park",
        'hireDate': "2025-02-22T05:26:28.000+00:00",
        'jobId': "IT_PROG",
      }
      fetch(`http://localhost:8099/yd/emps/${eid}`,{
        method : 'put',
        // @RequestBody
        headers : {
          'Content-type' : 'application/json',
        },
        body : JSON.stringify(updateData),
      })
      .then(res => res.json())
      .then(result => {
        console.log(' ===== 수정');
        console.log(result);
      })
      .catch(err => console.log(err))
    }

    // 삭제
    function Deleteuser(eid){
      fetch(`http://localhost:8099/yd/emps/${eid}`,{
        method : 'delete',
      })
      .then(res => res.json())
      .then(result => {
        console.log(' ===== 단건삭제');
        console.log(result)
      })
      .catch(err => console.log(err))
    }
  </script>
</body>
</html>